.news-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.news-header {
    flex-basis: 20%;
    font-size: 2em;
}

.news-list {
    flex-basis: 80%;
    height: 400px; /* 调整为所需高度 */
    overflow-y: scroll;
}

.news-item {
    margin-bottom: 20px;
}
