<h2>Recent News</h2>
<ul>
    <li>[2024/12/16] One paper got accepted by the ECIR2025, Reproducibility Track.</li>
    <li>[2024/12/05] One paper got accepted by the ACM Transactions on Knowledge Discovery from Data (TKDD).</li>
    <li>[2024/05/28] One co-authored paper got accepted by the World Wide Web Journal.</li>
    <li>[2024/03/13] One co-authored abstract got accepted by the ECIR2024, see you in Glasgow.</li>
    <li>[2023/09/28] <b>Congratulations to myself on successfully being a PhD student. A new life start.</b></li>
    <li>[2023/09/14] Goodbye Pinduoduo and Temu, I have officially left.</li>
    <li>[2023/07/11] I joined Temu in Pinduoduo as a Machine Learning Algorithm Engineer.</li>
    <li>[2023/06/30] <b>Congratulations to myself on successfully earning a master's degree. I have graduated.</b></li>
    <li>[2022/11/29] One Chinese invention patent has been issued.</li>
    <li>[2022/08/02] One paper has been accepted by the CIKM 2022.</li>
    <li>[2022/07/31] One paper has been accepted by the World Wide Web Journal.</li>
    <li>[2022/07/26] One Chinese invention patent has been issued.</li>
    <li>[2022/07/01] I am doing a summer deep learning internship at <a href="https://en.wikipedia.org/wiki/Pinduoduo" target="_blank">Pinduoduo</a>.</li>
    <li>[2022/04/05] One paper has been accepted by the Geoinformatica.</li>
    <li>[2022/03/08] One Chinese invention patent has been issued.</li>
</ul>

