<style>
    /* 基础页面样式 */
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    /* 父容器使用 Flexbox 布局 */
    .container {
        display: flex;
        /*height: 100vh; !* 视窗高度 *!*/  /* 移除固定高度，容器高度根据内容自动决定 */
    }

    /* 左侧部分样式 */
    .left {
        flex: 1; /* 左边占页面的 50% */
        /*background-color: #f0f0f0;*/
        padding: 20px;
        box-sizing: border-box;
    }

    /* 右侧部分样式 */
    .right {
        flex: 3; /* 右边占页面的 50% */
        /*background-color: #fff;*/
        padding: 20px;
        box-sizing: border-box;
    }


    /* 修改 h2 字体为 Georgia */
    h2 {
        /*font-family: 'Arial', sans-serif;*/
        margin-top: 0;
    }

    /* 修改 p 字体为 Roboto */
    /*p {*/
    /*    font-family: 'Roboto', sans-serif;*/
    /*}*/
        /* 调整 h2 的字体大小 */
    .left h2 {
        font-size: 48px; /* 自定义字体大小为 36px */
    }
</style>

<div class="container">
    <!-- 左侧部分 -->
    <div class="left">
        <h2>Teaching</h2>
    </div>

    <!-- 右侧部分 -->
    <div class="right">
      <h2> <b>Teaching Assistant</b>  </h2>
        <p>Information Retrieval 1 (March 2025 - May 2025) – MSc Artificial Intelligence</p>
        <ul>
          <li>University of Amsterdam, Amsterdam, The Netherlands</li>
          <li>Work with Evangelos Kanoulas</li>
        </ul>
        <p>Information Retrieval 2 (Nov. 2024 - Dec 2024) – MSc Artificial Intelligence</p>
        <ul>
          <li>University of Amsterdam, Amsterdam, The Netherlands</li>
          <li>Work with Mohammad Aliannejadi and Panagiotis Eustratiadis</li>
        </ul>

        <p>Information Retrieval 1 (Feb. 2024 - March 2024) – MSc Artificial Intelligence</p>
              <ul>
          <li>University of Amsterdam, Amsterdam, The Netherlands</li>
                <li>Work with Andrew Yates</li>
        </ul>
<!--        <p>-->
<!--          University of Amsterdam, Amsterdam, The Netherlands-->
<!--        </p>-->

    </div>
</div>


